*~
*#
src_managed
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
lib_managed
etags
TAGS
dist
target
build/target
deploy/*.jar
data
out
logs
storage
_dump
.manager
manifest.mf
semantic.cache
.DS_Store
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.idea
.scala_dependencies
run
